
header {
    background-color: slategray ;
    color: white ;
    text-align: center
    
}

h2 {
    margin-left: 2%;   
}


div#cityBlock{
    margin-top: 5%;
}

#today {
    border: solid 2px grey;
}

#today p {
    margin: 2%;
}

.forcast {
    margin: 1%;
    background-color: blue;
    color: white;
    border:solid 1px black;
    height: 125px;
    border-radius: 5%;
} 

figure.days {
   background-color: rgb(9, 91, 243); 
   color: white; 
   border-radius: 15%;
   margin: 1%;
}

Low {
    background-color: lightgreen;
    color:white;
    
}

Medium {
    background-color: orange;
}

High {
    background-color: orangered;
    color: white;
}

VHigh {
    background-color: red;
    color: white;
}

ExHigh {
    background-color: purple;
    color: white;
}